#include <windows.h>
#include "resource.h"
IDI_APPICON ICON "appicon.ico"

IDD_BIND_DIALOG DIALOG DISCARDABLE  0, 0, 208, 104
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Bind Joystick and Axis"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT       "DirectInput Device:",-1,8,10,75,10
    COMBOBOX    IDC_BIND_DEVICE,85,8,110,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT       "Axis:",-1,8,32,75,10
    COMBOBOX    IDC_BIND_AXIS,85,30,110,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT       "Target Audio Session:",-1,8,54,90,10
    COMBOBOX    IDC_BIND_SESSION,85,52,110,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDOK,35,80,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,115,80,50,14
END